/* ------------------------------------------ */
/*             GENERAL STYLES
/* ------------------------------------------ */
.logo {
	margin-top: 40px;
}
.centered-pills {
	text-align: center;
}
.centered-pills ul.nav-pills {
	display: inline-block;

	margin: 15px 0 30px;
}
.label {
	display: block;

	height: 20px;
	padding-top: 3px;
}
.progress {
	margin: 0;
}
.table {
	margin-bottom: 0;
}

.bootstrap-table .table {
	border: 0;
}