/* ------------------------------------------ */
/*             GENERAL STYLES
/* ------------------------------------------ */
.logo {
	margin-top: 30px;
}
.page-header {
	margin: 20px 0;
}
.centered-pills {
	text-align: center;
}
.nav-pills {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;

	margin: 10px 0 25px;
}
.nav-pills > li {
	width: auto;
	margin: auto;
}
.nav-pills > li > a {
	color: #777777;
	border: 2px dashed rgba(0, 0, 0, 0);

	font-size: 14px;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
	color: #777777;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
	color: #777777;
	border: 2px dashed rgba(0, 0, 0, 0.3);
	background: transparent;
}
.label {
	display: block;

	height: 20px;
	padding-top: 3px;
}
.progress {
	margin: 0;
}
.table {
	margin-bottom: 0;
}
.bootstrap-table .table {
	border: 0;
}
.contenteditable[contenteditable="true"] {
	border-bottom: 1px solid transparent;
}
.contenteditable[contenteditable="true"]:active,
.contenteditable[contenteditable="true"]:focus {
	border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
	outline: none;
}
.btn-group {
	margin-top: 20px;
}
footer {
	padding-top: 100px;
}
footer li {
	display: inline-block;
}
footer li:after {
	content: " • ";
}
footer li:last-child:after {
	content: "";
}
